# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\An2 Sem2\TP\PT2021_30228_Vaduva_Calin_Assignment_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
